STORE_NAME=HSOSTORE
ADSPOWER_PROFILE_ID=
ADSPOWER_API_URL=http://127.0.0.1:50325
# ADSPOWER_CDP_PORT=
DOWNLOAD_BASE_DIR=$HOME/Downloads/Bulk file

R2_ACCOUNT_ID=
R2_BUCKET_NAME=amazon-listing-production
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
PPC_R2_PREFIX=ppc-reports

WEB_APP_URL=https://app.example.com
WEB_APP_AUTH_TOKEN=
